@-webkit-keyframes flicker {
  0% { opacity: 0.75; }
  10% { opacity: 0.7; }
  20% { opacity: 0.65; }
  30% { opacity: 0.7; }
  40% { opacity: 0.75; }
  50% { opacity: 0.65; }
  60% { opacity: 0.75; }
  70% { opacity: 0.72; }
  80% { opacity: 0.65; }
  90% { opacity: 0.72; }
  100% { opacity: 0.7; }
}

::selection {
  background: #FF80FF;
  text-shadow: none !important;
}
html, body {
  margin: 0;
  height: 100%;
}
body {
  font: 1em Consolas, monospace;
  color: #00ff00;
  background: -webkit-radial-gradient(center center, contain, rgba(64, 32, 64, 0.75), black) center center no-repeat, black;
  -webkit-background-size: 100% 100%;
}

/* unvisited link */
a:link {
  color: #00ff00;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: #80ff80;
}

/* selected link */
a:active {
  color: #ff00ff;
}
